.list-action{
    justify-content: space-between;
    width: 100%;
    display: block;
    margin-top: 1em;
}
.list-action button{
    width: 5em;
    height: 30px;

    margin: 0px 25px;
}

.list-action button:active{
    width: 5.5em;
    height: 32px;

    margin: 0px 25px;
}

.news ul li{
    width: 100%;
}
#edit{
    background-color: blue;
}
#delete{
    background-color: red;
}

.news ul li img{
 max-width: 10em;
 
}